name: Deploy Lambda

on:
  push:
    branches: [ main, develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2

    - name: Create Lambda ZIP
      run: |
        cd lambda
        zip -r ../terraform/lambda_function.zip .

    - name: Terraform Init, Plan and Apply
      run: |
        cd terraform
        terraform init -input=false
        terraform plan
        terraform apply -auto-approve
